{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content%}
<div>
    <h3>Update Profile</h3>
    {{form.media}}
    <div class="container" style="margin-top:100px; font-size:13px;font-family: 'K2D', sans-serif; ">
        <form method="post" enctype="multipart/form-data">
            {%csrf_token%}
            
            {% bootstrap_form form %}
            <input type="submit" class="btn btn-success btn-lg" value="Post">
        </form>
    </div>
</div>
{% endblock %}